body{
  overflow: hidden;
  height: 100%;
}

.carouselImage1 {
  height: 100em;
  background: url(../assets/newport-grey.jpg) no-repeat center center;
  background-attachment:fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
}

.carouselImage2 {
  height: 100em;
  background: url(../assets/hawiicoast.jpg) no-repeat center center;
  background-attachment:fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
}

.carouselImage3 {
  height: 100em;
  background: url(../assets/newport.jpg) no-repeat center center;
  background-attachment:fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
}
